# VCS & CI
.git
.github

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
build/
dist/

# Envs & configs
.env
.venv
venv/

# OS/editor junk
.DS_Store
*.swp
*.swo

# Logs
*.log

# Tests (if any)
tests/

# Node (if ever present)
node_modules/
